@model IEnumerable<PrestitiBiblioteca.Models.Libro>

@{
    ViewData["Title"] = @ViewBag.Header;
}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e1e1ea;">
    <a class="navbar-brand" href="#">
        <h1 class="p-3 mb-2"> @ViewBag.Header<i class="bi bi-bicycle"></i></h1>
    </a>
</nav>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Autore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collocazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copie)
            </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Autore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collocazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copie)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" new { id=item.PrimaryKey }>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                    </svg>
                    <i class="bi bi-pen">Edit</i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" new { id=item.PrimaryKey }>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                    <i class="bi bi-info-circle">Details</i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" new { id=item.PrimaryKey }>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                    <i class="bi bi-trash">Delete</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @{
                int pagine = ViewBag.Pagine;
                <li class="page-item"><a class="page-link" href="?pagine=pagine-20">Previous</a></li>
                for (int i = 1; i < pagine; i++)
                {

                    if (ViewBag.Pagina == i)
                    {
                        <li class="page-item"><a class="page-link"><b>@i</b></a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?pagina=@i">@i</a></li>
                    }
                }
                <li class="page-item"><a class="page-link" href="?pagine=20">Next</a></li>
            }

        </ul>
    </nav>

</p>
<br />
<br />